:root{
    --detail-color: linear-gradient(90deg, rgba(0,141,179,1) 0%, rgba(0,175,218,1) 100%);
    --grey:#E4E3E3;
    --blue:rgba(0,141,179,1);
    --font:#6A6761;
}

body {
    background: white;
    color: var(--font);
}
nav{
    width:100vw;
    height:auto;
    background:linear-gradient(0deg, rgba(0,141,179,1) 0%, rgba(0,175,218,1) 100%);
    display:flex;
}
iframe{
    width:100vw;
    height:100vh;
}

nav > a{
    text-decoration:none;
    position:relative;
    height:16px;
    margin-top:20px;
    margin-right:5px;
    color:var(--font);
    padding:2px;
    border-color:var(--font);
    border-left:solid 1px;
    border-right:solid 1px;
}
a:hover{
    color:#FF6300;
    border-color: #FF6300;
}

img:hover{
    opacity:0.5;
}
#arround {
    font-size: 2em;
    font-weight: bold;
    background: white;
    padding: 20px;
    padding-top:0;
    margin: auto;
    width: 55vw;
    margin-top: 15vh;
    border-top: solid 8px var(--blue);
    box-shadow: rgb(44, 47, 51) 0px 0px 40px;
    height: 400px;
    border-radius: 5px;

}

#Notes {
    overflow-x: hidden;
    font-size: 2em;
    font-weight: bold;
    background: white;
    padding: 20px;
    margin: auto;
    width: 50vw;
    box-shadow: rgb(44, 47, 51) 0px 0px 10px;
    max-height: 300px;
    border-radius: 15px;
}

table {
    display: block;
    background: var(--grey);
    width: 43vw;
    min-height: 50px;
    text-align: center;
    padding: 0;
    margin: auto;
    margin-top: 10;
    font-weight: bold;
    box-shadow: black 0px 0px 5px;
    border-top: solid 10px var(--detail-color);
    border-radius: 3px;
}

table:hover{
    color:#0056b3;
}
tr {
    font-weight: normal;
    border-collapse: collapse;
    display: block;
    background: var(--detail-color);
    margin: 0;
    width: 10vw;
    margin: auto;
    margin-top: 2px;
    color: black;
}

tr:hover {
    opacity: 0.8;
}

tr:active ~input[type='textarea'] {
    background: purple;
    opacity: 0.2;
}

.hidden {
    display: none;
}

#A {
    margin-left: 50vw;
}

#A:checked ~div>.hidden {
    display: block;
}



#calculatrice {
    background: var(--detail-color);
    width: 163;
    margin: 0 81vw;
    position: sticky;
    top: 5px;
}

#calculatrice tr {
    background: transparent;
}

#calculatrice tr:hover {
    opacity: 1;
}

#calculatrice tr:active {
    opacity: 1;
}

#calculatrice input[type='button'] {
    background: var(--grey);
    width: 30px;
    height: 20px;
    border:solid 1px var(--blue);
}

#calculatrice input[type='button']:hover {
    opacity:0.7;
}

#calculatrice input[type='textarea'] {
    width: 156px;
    height: 25px;
}


@media screen and (max-width: 1000px) {
    html {
    overflow: hidden;
    }
    body{
        margin:0;
    }
    #A {
        margin-left: 90vw;
        margin-right:0;
    }
    #arround {
        margin-left:0;
        width: 100vw;
        padding:0;
    }
    #Notes {
        margin: 0;
        margin-left:5px;
        width: 85vw;
    }
    table {
        width: 80vw;
        margin-left: auto;
        ;
    }
    tr {
        width: 40vw;
    }
    #calculatrice{
        margin: auto;
        position:relative;
    }
}